{% extends "partials/qtohousebase.html" %}
{% load static %}

{% block html %}data-layout="vertical" data-layout-style="detached" data-layout-position="fixed" data-topbar="light"
data-sidebar="dark" data-sidebar-size="lg" data-layout-width="fluid"{% endblock html %}

{% block title %}QTO House{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<!-- end main content-->
<div class="about about-us-img">
    <div class="colorgradientonimage">
        <h2>Welcome to QTO House</h2>
    </div>
</div>
<div class="about-us">
    <img class="hat Img-Disp" alt="" src="{% static 'imagesqtosol/hart 2.png'%}" />
    <div>
        <h2 class="pageheading-test pageheading-contact">Why Us</h2>
        <p>
        
        
            Welcome to QTO House, your trusted partner in the construction industry. We are a leading provider of
            pre-construction bidding services, streamlining operations for general contractors, delivering cost-competitive
            estimates, and helping contractors win bids with our innovative solutions. With a strong presence in New York State
            and territories, we are committed to professionalism, accuracy, and customer satisfaction.
            <br /><br />
            At QTO House, we have a team of versatile estimators and advanced software tools that enable us to provide online
            services to the highest professional standards. We take pride in protecting the best interests of our customers and
            approach each task with absolute responsibility and care. With our unsurpassed professional estimating and take-off
            services, we strive to exceed your expectations.
            <br /><br />
            Our skilled team utilizes the latest software in the industry to ensure the most accurate cost estimates for your
            projects. We understand the importance of time and efficiency, which is why our clients enjoy the fastest turnaround
            time in the industry at fees that are extremely competitive. As a team of specialized individuals with different
            skill sets, we are dedicated to staying at the forefront of construction estimation innovations, providing you with
            the latest industry insights.
        
        
        </p>
        <br /><br /><br /><br /><br />
        <div class="pageheading">CSI Divisions</div>
        <div class="csidivsions csdaboutus container">
            <ul>
                    <li><span>01&nbsp;</span>-&nbsp;<span>General Requirnments</span></li>
                    <li><span>02&nbsp;</span>-&nbsp;<span>Existing Conditions</span></li>
                    <li><span>03&nbsp;</span>-&nbsp;<span>Concrete</span></li>
                    <li><span>04&nbsp;</span>-&nbsp;<span>Masonry</span></li>
                    <li><span>05&nbsp;</span>-&nbsp;<span>Metals</span></li>
                    <li><span>06&nbsp;</span>-&nbsp;<span>Wood, Plastics &Composites</span></li>
                    <li><span>07&nbsp;</span>-&nbsp;<span>Thermal & Moisture Protection</span></li>
                    <li><span>08&nbsp;</span>-&nbsp;<span>Openings</span></li>
                    <li><span>09&nbsp;</span>-&nbsp;<span>Finishes</span></li>
                    <li><span>10&nbsp;</span>-&nbsp;<span>Specialties</span></li>
                    <li><span>11&nbsp;</span>-&nbsp;<span>Equipment</span></li>
                    <li><span>12&nbsp;</span>-&nbsp;<span>Furnishings</span></li>
                    <li><span>13&nbsp;</span>-&nbsp;<span>Special Construction</span></li>
                    <li><span>14&nbsp;</span>-&nbsp;<span>Conveying Equipment</span></li>
                    <li><span>15&nbsp;</span>-&nbsp;<span>Fire Suppression</span></li>
                    <li><span>16&nbsp;</span>-&nbsp;<span>Plumbing</span></li>
                    <li><span>17&nbsp;</span>-&nbsp;<span>Heating, Ventilating, & Air Conditioning (HVAC)</span></li>
                    <li><span>18&nbsp;</span>-&nbsp;<span>Electric</span></li>
                    <li><span>19&nbsp;</span>-&nbsp;<span>Earth Work</span></li>
                    <li><span>20&nbsp;</span>-&nbsp;<span>Utilities</span></li>
                    <li><span>21&nbsp;</span>-&nbsp;<span>Waterways & Marine Construction</span></li>
                    <li><span>22&nbsp;</span>-&nbsp;<span>Exterior Improvements</span></li>
                    <li><span>23&nbsp;</span>-&nbsp;<span>Integrated Automation</span></li>
                    <li><span>24&nbsp;</span>-&nbsp;<span>Electronic Safety & Security </span></li>
                    <li><span>25&nbsp;</span>-&nbsp;<span>Transportaion</span></li>
                    <li><span>26&nbsp;</span>-&nbsp;<span>Wood, Plastics & Composites</span></li>
                    <li><span>27&nbsp;</span>-&nbsp;<span>Communications</span></li>
                    <li><span>28&nbsp;</span>-&nbsp;<span>Thermal & Moisture Protection</span></li>
                    </ul>
            </div>
    </div>
    <img class="cal Img-Disp" alt="" src="{% static 'imagesqtosol/Cal 1.png'%}" />
    </div>







{% block CSI-Division %}
{% include "qtohouse/CsiDvisions.html" %}
{% endblock CSI-Division %}
{% block Weworkwith %}
{% include "qtohouse/WeWorkWith.html" %}
{% endblock Weworkwith %}



{% endblock content %}

{% block extra_js %}
<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

<!-- Dashboard init -->
<script src="{% static 'js/pages/dashboard-crm.init.js'%}"></script>
{% endblock extra_js %}