{% load static %}
<section>
    <div class="background-img-2">
        <div class="color_gradient" id="grad1">
            <section class="search">
                <div class="container-fluid">
                    <div class="search-background main-image-text">
                        <div class="text-center">   
                            <span class="heading">Welcome to QTO House</span>
                            <p  >"Mastering the Art of Accurate Construction Estimates & Detailed Quantity Take-Offs,<br/>
                                On Schedule & Within Your Financial Blueprint."</p>
                            <a href="/Sample">
                                 <button class="NB-search">Get Free Sample</button> 
                            </a>
                        </div>
                    </div>
                </div>
            </section>           
        </div>
    </div>
</section>