{% load static %}
<section>
    <div class="background-img-2">
        <div class="color_gradient" id="grad1">
            <section class="search">
                <div class="container-fluid">
                    <div class="search-background main-image-text">
                        <div class="text-center">   
                            <span class="heading">QTO House</span>
                            <p>"Delivering Quality Estimation & Quantity Take-Off Services, on Time and On Budget"</p>
                            <a href="/Sample">
                                 <button class="NB-search">Get Free Sample</button> 
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>