{% load static %}
    <div class="csidivsions container">
        <!-- CSI Divisions -->
        <div class="vision-container">
            <img class="vision-image" alt="" src="{% static 'imagesqtosol/vision.png'%}" />
            <h2 class="pageheading-vision">Our Vision</h2>
            <div class="vision-content">
                <p>
                    Our vision at QTO House is to redefine the landscape of construction estimation services. We aim
                    to continually innovate and expand our offerings, integrating advanced technologies like BIM and VBM
                    to provide comprehensive and dynamic solutions. By pioneering new standards in accuracy and
                    efficiency, we envision becoming the go-to partner for construction companies seeking unparalleled
                    precision in their project estimations..
                </p>
            </div>
        </div>
    
        <div class="mission-container">
            <img class="vision-image" alt="" src="{% static 'imagesqtosol/mission.png'%}" />
            <h2 class="pageheading-mission">Our Mission</h2>
            <div class="vision-content">
                <p>
                    Our mission is to empower construction companies in Northern
                    America with precise material quantity take-offs and cost
                    estimations. Through our commitment to accuracy and detail, we
                    provide tailored and comprehensive solutions to our clients.
                    Additionally, we're excited to announce that we'll now be offering
                    project leads to our clients, further enhancing our suite of
                    services to support their project management needs.
                </p>
            </div>
        </div>
    </div>