
{% load static %}
    <div class="ES">
        <div class="ourServices">
            <h2>Estimation Services We Offer</h2>
            <p>
                Trust QTO House to fine-tune your estimates, providing the edge you
                need to win lucrative contracts confidently.
            </p>
        </div>
        <div class="container ESL">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD ">
                        <img class="ESM" alt="" src="{% static 'imagesqtosol/concrete.png'%}" />
                        <h2 class="">Concrete Estimation</h2>
                        <p>
                            Our concrete estimates include quantities for foundations,
                            concrete pavements, retaining walls, slabs, beams, columns etc
                            {/* etc., covering concrete, rebar, and formwork. */}
                        </p>
                    </div>
                </div>
    
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD ">
                        <img class="ESM" alt="" src="{% static 'imagesqtosol/MASONARY.png'%}" />
                        <h2 class="">Masonary Estimation</h2>
                        <p>
                            Our Concrete estimates include concrete, rebar and formwork
                            quantities for foundations, concrete pavements, retaining
                            walls, slabs, beam, columns etc.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD ">
                        <img class="ESM" alt="" src="{% static 'imagesqtosol/DRYWALL.png'%}" />
                        <h2 class="">Drywall Estimation</h2>
                        <p>
                            Our drywall estimating service includes counts for drywall
                            sheets, quantities of metal studs, as well as taping, mudding,
                            joint compounds, etc.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD ">
                        <img class="ESM" alt="" src="{% static 'imagesqtosol/LAMBER.png'%}" />
                        <h2 class="">Lumber Estimation</h2>
                        <p>
                            Our lumber takeoff service includes all the lumber framing,
                            encompassing wall studs, joists, rafters, floor beams, PSLs,
                            LVLs etc.
                            {/* wood decking, and plywood sheathing */}
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD ">
                        <img class="ESM" alt="" src="{% static 'imagesqtosol/PAINT.png'%}" />
                        <h2 class="">Paint Estimation</h2>
                        <p>
                            Our detailed painting estimates include priming, scraping, and
                            painting for walls, ceilings, doors, metal railings, etc.
                            Additionally.
                            {/* we provide estimates for special coatings. */}
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD ">
                        <img class="ESM" alt="" src="{% static 'imagesqtosol/EARTH.png'%}" />
                        <h2 class="">Earthwork Estimation</h2>
                        <p>
                            Our concrete estimates include quantities for foundations,
                            concrete pavements, retaining walls, slabs, beams, columns,
                            etc.
                            {/* , covering concrete, rebar, and formwork. */}
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD ">
                        <img class="ESM" alt="" src="{% static 'imagesqtosol/FLOOR.png'%}" />
                        <h2 class="">Flooring Estimation</h2>
                        <p>
                            Our Concrete estimates include concrete, rebar and formwork
                            quantities for foundations, concrete pavements, retaining
                            walls, slabs, beam, columns etc.
                        </p>
                    </div>
                </div>
    
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD ">
                        <img class="ESM" alt="" src="{% static 'imagesqtosol/ELEC.png'%}" />
                        <h2 class="">Electrical Estimating</h2>
                        <p>
                            Our Concrete estimates include concrete, rebar and formwork
                            quantities for foundations, concrete pavements, retaining
                            walls, slabs, beam, columns etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>