{% load static %}
<div class="ES">
    <div class="ourServices">
        <h2>We also provide takeoff services to all trade contracts</h2>
        <!-- <p style="text-align: center; font-family: 'Poppins-SemiBold'; font-size: 15px;">
            Empowering Contractors with Precision: Trust QTO Solutions to fine-tune your estimates, providing the
            edge you need to win lucrative contracts confidently.
        </p> -->
    </div>

    <div class="container ESL" style="height: 428px; position: relative;">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                <div class="frame">
                        <div class="boxes">
                            <div class="box dark" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/concrete-1.jpg'%}" alt="" />
                                <span class="text">Concrete Estimation</span>
                            </div>
                            <div class="box orange" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/masonry-2.png'%}" alt="" />
                                <span class="text">Masonry Estimation</span>
                            </div>
                            <div class="box dark" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/drywaal-1.jpg'%}" alt="" />
                                <span class="text">Drywall Estimation</span>
                            </div>
                            <div class="box orange" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/lumber.JPG'%}" alt="" />
                                <span class="text">Lumber Estimation</span>
                            </div>
                            <div class="box dark" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/paint-1.jpg'%}" alt="" />
                                <span class="text">Paint Estimation</span>
                            </div>
                            <div class="box orange" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/earth-1.jpg'%}" alt="" />
                                <span class="text">Earthwork Estimation</span>
                            </div>
                            <div class="box dark" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/Flooring-1.jpg'%}" alt="" />
                                <span class="text">Flooring Estimation</span>
                            </div>
                            <div class="box orange" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/electric-1.jpg'%}" alt="" />
                                <span class="text">Electrical Estimation</span>
                            </div>
                            <div class="box dark" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/plumbing.jpg'%}" alt="" />
                                <span class="text">Plumbing Estimation </span>
                            </div>
                            <div class="box orange" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/Furnishings.jpg'%}" alt="" />
                                <span class="text">Furnishings Estimation</span>
                            </div>
                            <div class="box dark" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/metal.jpg'%}" alt="" />
                                <span class="text">Metals Estimation</span>
                            </div>
                            <div class="box orange" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/exterior.jpg'%}" alt="" />
                                <span class="text">Exterior Improvement Estimation</span>
                            </div>
                            <div class="box dark" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/mechanical.jpg'%}" alt="" />
                                <span class="text">Mechanical Support Estimation</span>
                            </div>
                            <div class="box dark" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/fire.jpg'%}" alt="" />
                                <span class="text">Fire Suppression Estimation</span>
                            </div>
                            <div class="box orange" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/hvac.jpg'%}" alt="" />
                                <span class="text">Heating Ventilating and Air Conditioning Estimation</span>
                            </div>

                        
                            <div class="box orange" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/finishes.jpg'%}" alt="finishing image" />
                                <span class="text">Finishes Estimation</span>
                            </div>
                            <div class="box dark" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/utilities.jpg'%}" alt="utilities image" />
                                <span class="text">Utilities Estimation</span>
                            </div>
                            <div class="box orange" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/Roofing.jpg'%}" alt="pollution image" />
                                <span class="text">Roofing Estimation</span>
                            </div>
                            <div class="box dark" onclick="void(0);">
                                <img class="image-box" src="{% static 'imagesqtosol/Demolition.jpg'%}" alt="pollution image" />
                                <span class="text">Demolition Estimation</span>
                            </div>
   
                        
                        
                        </div>
                </div>
            </div>
            <!-- Add other columns and boxes similarly -->
        </div>
    </div>
</div>