{% extends "partials/qtohousebase.html" %}
{% load static %}

{% block html %}data-layout="vertical" data-layout-style="detached" data-layout-position="fixed" data-topbar="light"
data-sidebar="dark" data-sidebar-size="lg" data-layout-width="fluid"{% endblock html %}

{% block title %}QTO SOL{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<!-- end main content-->
<div class="register login-p">
    <div>
        <div class="log-back">
            <h2 class="pageheading">Login</h2>
            <div class="container">
                <form class="form-inline" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} mb-4" role="alert">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                    {% if field.help_text %}
                    <div class="alert alert-danger mb-4" role="alert">
                        <strong>{{ field.help_text }}</strong>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="form-group ">
                            <img class="user" alt="" src="{% static 'imagesqtosol/user.png'%}" />
                            <input class="from-placeholder" type="text" placeholder="User Name" name="username" id="id_username" required>
                        </div>

                        <div class="form-group">
                            <img class="user" alt="" src="{% static 'imagesqtosol/search.png'%}" />
                            <input type="password" placeholder="Password" class="from-placeholder" name="password" id="id_password" required>
                        </div>

                        <button type="submit" class="regist-but btn btn-primary">Login</button>
                    </div>
                </form>

                <p style="text-align: center;">
                    Don't have an account? <a href="/Register">Register</a>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extra_js %}
<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

<!-- Dashboard init -->
<script src="{% static 'js/pages/dashboard-crm.init.js'%}"></script>
{% endblock extra_js %}
