{% extends "partials/qtohousebase.html" %}
{% load static %}
{% block html %}data-layout="vertical" data-layout-style="detached" data-layout-position="fixed" data-topbar="light"
data-sidebar="dark" data-sidebar-size="lg" data-layout-width="fluid"{% endblock html %}

{% block title %}QTO House{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<!-- end main content-->
<div class="container projects">
    <div class="projectHeading">
        <h2>Projects</h2>
        <span>Home</span>/<span>projects</span>
    </div>
    <div class="container aUp">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 sidnav ">
                <div class="sidenavecontent border">
                    <div class="heading">
                        <span>Show Results By</span>
                    </div>
                    <div>
                        <nav class="sidebar card">
                            <ul class="nav flex-column">

                                <li>
                                    <span class="form-select" onclick="toggleSearchResults()">Search Results by
                                        Keyword</span>
                                </li>
                                <li class="dropdown-manue" id="searchResult" style="display: none;">
                                    <img class="pdf-icon" alt="" src="{% static 'imagesqtohouse/search_footer.png'%}" />
                                    <input type="text" class="input-field" placeholder="Window, roof, etc" />
                                </li>

                                <script>
                                    function toggleSearchResults() {
                                        var searchResult = document.getElementById("searchResult");
                                        if (searchResult.style.display === "none" || searchResult.style.display === "") {
                                            searchResult.style.display = "block";
                                        } else {
                                            searchResult.style.display = "none";
                                        }
                                    }
                                </script>


                                <li>
                                    <span class="form-select" aria-label="Default select example"
                                        onclick="toggleLocationMenu()">Location</span>
                                </li>
                                <li class="dropdown-manue" id="searchLocation" style="display: none;">
                                    <!-- <div class="input-with-icon"> -->
                                    <img class="pdf-icon" alt="" src="{% static 'imagesqtohouse/location.png'%}" />
                                    <input type="text" class="input-field" placeholder="Search" />
                                    <!-- </div> -->
                                </li>

                                <script>
                                    function toggleLocationMenu() {
                                        var searchLocation = document.getElementById("searchLocation");
                                        if (searchLocation.style.display === "none" || searchLocation.style.display === "") {
                                            searchLocation.style.display = "block";
                                        } else {
                                            searchLocation.style.display = "none";
                                        }
                                    }
                                </script>

                                <li>
                                    <span class="form-select" aria-label="Default select example"
                                        onclick="toggleDropdown()">Date Range</span>
                                </li>

                                <li class="dropdown-manue" id="searchDropdown" style="display: none;">
                                    <div class="date">
                                        <form action="/action_page.php">
                                            <input class="left-input" type="date" id="birthday" name="birthday" />
                                            <span class="center-span">To</span>
                                            <input class="right-input" type="date" id="birthday" name="birthday" />
                                        </form>
                                    </div>
                                </li>

                                <script>
                                    function toggleDropdown() {
                                        var searchDropdown = document.getElementById("searchDropdown");
                                        if (searchDropdown.style.display === "none" || searchDropdown.style.display === "") {
                                            searchDropdown.style.display = "block";
                                        } else {
                                            searchDropdown.style.display = "none";
                                        }
                                    }
                                </script>

                                <li>
                                    <span class="form-select" aria-label="Default select example"
                                        onclick="toggleBidAmount()">Bid Amount</span>
                                </li>

                                <li class="dropdown-manue" id="searchBidAmount" style="display: none;">
                                    <div class="amount">
                                        <input class="left-input" type="number" placeholder="100   $" />
                                        <span class="center-span">To</span>
                                        <input class="right-input" type="number" placeholder="5000000  $" />
                                    </div>
                                </li>

                                <script>
                                    function toggleBidAmount() {
                                        var searchBidAmount = document.getElementById("searchBidAmount");
                                        if (searchBidAmount.style.display === "none" || searchBidAmount.style.display === "") {
                                            searchBidAmount.style.display = "block";
                                        } else {
                                            searchBidAmount.style.display = "none";
                                        }
                                    }
                                </script>

                                <li>
                                    <span class="form-select" aria-label="Default select example"
                                        onclick="toggleStatus()">Status</span>
                                </li>

                                <li class="dropdown-manue" id="searchToggle" style="display: none;">
                                    <!-- <div class="status"> -->
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="">Solicicated</option>
                                        <option value="Alabama">UnSolicicated</option>
                                        <option value="Alaska">None</option>
                                    </select>
                                    <!-- </div> -->
                                </li>

                                <script>
                                    function toggleStatus() {
                                        var searchToggle = document.getElementById("searchToggle");
                                        if (searchToggle.style.display === "none" || searchToggle.style.display === "") {
                                            searchToggle.style.display = "block";
                                        } else {
                                            searchToggle.style.display = "none";
                                        }
                                    }
                                </script>

                                <li>
                                    <span class="form-select" aria-label="Default select example"
                                        onclick="toggleDivision()">Division</span>
                                </li>

                                <li class="dropdown-manue" id="searchDivision" style="display: none; ">
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="">All</option>
                                        <option value="">Masonry</option>
                                        <option value="Alabama">Lumber</option>
                                        <option value="Alaska">Dry Wall</option>
                                        <option value="Alaska">Painting</option>
                                        <option value="Alaska">HVAC</option>
                                        <option value="Alaska">Plumbing</option>
                                    </select>
                                </li>

                                <script>
                                    function toggleDivision() {
                                        var searchDivision = document.getElementById("searchDivision");
                                        if (searchDivision.style.display === "none" || searchDivision.style.display === "") {
                                            searchDivision.style.display = "block";
                                        } else {
                                            searchDivision.style.display = "none";
                                        }
                                    }
                                </script>
                                <!-- </div> -->
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-9 projectSection">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 sort detail">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="pills-active-projects-tab" data-bs-toggle="pill"
                                    href="#pills-active-projects" role="tab" aria-controls="pills-active-projects"
                                    aria-selected="true">Active Projects</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-past-projects-tab" data-bs-toggle="pill"
                                    href="#pills-past-projects" role="tab" aria-controls="pills-past-projects"
                                    aria-selected="false">Past Projects</a>
                            </li>
                            {% if show_my_projects_tab %}
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-featured-projects-tab" data-bs-toggle="pill"
                                    href="#pills-featured-projects" role="tab" aria-controls="pills-featured-projects"
                                    aria-selected="false">My Projects</a>
                            </li>
                            {% endif %}
                            <!-- <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-myprojects-tab" data-bs-toggle="pill"
                                    href="#pills-myprojects" role="tab" aria-controls="pills-myprojects"
                                    aria-selected="false">Favorites</a>
                            </li> -->
                        </ul>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 project-card">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-active-projects" role="tabpanel"
                                aria-labelledby="pills-active-projects-tab">
                                {% for project in projects %}
                                <div class="cardcontainer ">
                                    <div class="new">
                                        <div>
                                            <span>New</span>
                                        </div>
                                    </div>
                                    <div class="row border ht">
                                        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 cardheadingsect">
                                            <div>
                                                <span>Bid Date: {{ project.Project_Bid_Date }}</span>
                                                <a
                                                    href="{% url 'qtohouse_project_detail_view' pk=project.project_id %}">
                                                    <h2>{{ project.project_name }}</h2>
                                                </a>
                                                <div class="loc">
                                                    <img class="pdf" alt=""
                                                        src="{% static 'imagesqtohouse/location.png'%}" />
                                                    <span class="">{{ project.project_address }}</span>
                                                </div>

                                                <!-- <div class="aut-progress">
                                                    <span class="Authority">{project.company}</span>
                                                    <div class="progress-background">
                                                        <div class="qto-progress">
                                                            <span>
                                                                QTO in progress <span>{project.progress}%</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 card-right">
                                            <div class="bid-ammout">
                                                {% if project.bid_set.all %}
                                                <span>Bid Amount: $ {{ project.bid_set.first.bid_amount }}</span>

                                                {% else %}
                                                No bids yet
                                                {% endif %}
                                            </div>
                                            <a href="{% url 'qtohouse_project_detail_view' pk=project.project_id %}">
                                                <button class="NB smd">See More Details</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- Add similar tab-pane for other pills -->
                            <div class="tab-pane fade show active" id="pills-past-projects" role="tabpanel"
                                aria-labelledby="pills-active-projects-tab">
                                {% for project in projects %}
                                <div class="cardcontainer ">
                                    <div class="new">
                                        <div>
                                            <span>New</span>
                                        </div>
                                    </div>
                                    <div class="row border ht">
                                        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 cardheadingsect">
                                            <div>
                                                <span>Bid Date: {{ project.Project_Bid_Date }}</span>
                                                <a
                                                    href="{% url 'qtohouse_project_detail_view' pk=project.project_id %}">
                                                    <h2>{{ project.project_name }}</h2>
                                                </a>
                                                <div class="loc">
                                                    <img class="pdf" alt=""
                                                        src="{% static 'imagesqtohouse/location.png'%}" />
                                                    <span class="">{{ project.project_address }}</span>
                                                </div>

                                                <!-- <div class="aut-progress">
                                                                                    <span class="Authority">{project.company}</span>
                                                                                    <div class="progress-background">
                                                                                        <div class="qto-progress">
                                                                                            <span>
                                                                                                QTO in progress <span>{project.progress}%</span>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 card-right">
                                            <div class="bid-ammout">
                                                {% if project.bid_set.all %}
                                                <span>Bid Amount: $ {{ project.bid_set.first.bid_amount }}</span>

                                                {% else %}
                                                No bids yet
                                                {% endif %}
                                            </div>
                                            <a href="{% url 'qtohouse_project_detail_view' pk=project.project_id %}">
                                                <button class="NB smd">See More Details</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- Add similar tab-pane for other pills -->
                            <div class="tab-pane fade show active" id="pills-myprojects-tab" role="tabpanel"
                                aria-labelledby="pills-active-projects-tab">
                                {% for project in my_projects %}
                                <div class="cardcontainer ">
                                    <div class="new">
                                        <div>
                                            <span>New</span>
                                        </div>
                                    </div>
                                    <div class="row border ht">
                                        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 cardheadingsect">
                                            <div>
                                                <span>Bid Date: {{ project.Project_Bid_Date }}</span>
                                                <a
                                                    href="{% url 'qtohouse_project_detail_view' pk=project.project_id %}">
                                                    <h2>{{ project.project_name }}</h2>
                                                </a>
                                                <div class="loc">
                                                    <img class="pdf" alt=""
                                                        src="{% static 'imagesqtohouse/location.png'%}" />
                                                    <span class="">{{ project.project_address }}</span>
                                                </div>

                                                <!-- <div class="aut-progress">
                                                                                    <span class="Authority">{project.company}</span>
                                                                                    <div class="progress-background">
                                                                                        <div class="qto-progress">
                                                                                            <span>
                                                                                                QTO in progress <span>{project.progress}%</span>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 card-right">
                                            <div class="bid-ammout">
                                                {% if project.bid_set.all %}
                                                <span>Bid Amount: $ {{ project.bid_set.first.bid_amount }}</span>

                                                {% else %}
                                                No bids yet
                                                {% endif %}
                                            </div>
                                            <a href="{% url 'qtohouse_project_detail_view' pk=project.project_id %}">
                                                <button class="NB smd">See More Details</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12  project-card "></div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}

{% block extra_js %}
<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

<!-- Dashboard init -->
<script src="{% static 'js/pages/dashboard-crm.init.js'%}"></script>
{% endblock extra_js %}