{% load static %}
<div class="register">
    <div class="register-form">
        <h2 class="pageheading">Register Now</h2>
        <div class="container">
            <form class="form-inline" id="registerForm" action="/register" method="post">
                <div class="row">
                    <div class="form-group-register">
                        <img class="user" alt="" src="./images/user.png" />
                        <input class="from-placeholder" type="text" placeholder="First Name" name="first_name" required>
                    </div>
                    <!-- Add other form groups for Last Name, Email, Password, Phone Number, City, Company Name, and State -->
                    <div class="form-group-register">
                        <!-- Repeat this structure for other input fields -->
                    </div>
                    <button type="submit" class="regist-but-register">Register Now</button>
                </div>
            </form>
            <p style="text-align: center;">
                Already have an account? <a href="/Login">Login</a>
            </p>
        </div>
    </div>
</div>