{% load static %}
<div class="WWW">
    <div class="container">
        <h1 class="pageheading-www">Our Esteemed Clientele </h1>
        <p class="wwwparagraph">
            QTO House proudly serves a diverse range of clients in the construction industry,from general
            contractors to homeowners, ensuring each project is treated with unparalleled professionalism.
        </p>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="d-flex">
                    <img src="{% static 'imagesqtosol/Checkmark.png'%}" alt="">
                    <p>General Contractors</p>
                </div>
                <div class="d-flex">
                    <img src="{% static 'imagesqtosol/Checkmark.png'%}" alt="">
                    <p>Sub-contractors</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="d-flex">
                    <img src="{% static 'imagesqtosol/Checkmark.png'%}" alt="">
                    <p>Remodeling Contractors</p>
                </div>
                <div class="d-flex">
                    <img src="{% static 'imagesqtosol/Checkmark.png'%}" alt="">
                    <p>Material Suppliers</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="d-flex">
                    <img src="{% static 'imagesqtosol/Checkmark.png'%}" alt="">
                    <p>Architects</p>
                </div>
                <div class="d-flex">
                    <img src="{% static 'imagesqtosol/Checkmark.png'%}" alt="">
                    <p>Homeowners</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="d-flex">
                    <img src="{% static 'imagesqtosol/Checkmark.png'%}" alt="">
                    <p>Designers</p>
                </div>
                <div class="d-flex">
                    <img src="{% static 'imagesqtosol/Checkmark.png'%}" alt="">
                    <p>Developers</p>
                </div>
            </div>
        </div>

        <a href="/quote">
            <button class="NB">Get Free Quote</button>
        </a>
    </div>
</div>