{% load static %}
<div class="WCUQTO container">
    <div class="row">
        <div class="solutions-top">
            <h2 class="pageheading">Selecting QTO House: A Decision for Excellence</h2>
           <p style="text-align: justify;">
            Join hands with QTO House, where we blend a decade of 
            professional expertise with a personal touch for each project. 
            Our certified estimators are champions of accuracy, delivering 
            results that resonate with the cost and quality your projects deserve.
            </p> 
            

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 WCU">
            <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 estimator"> -->
                <!-- <img class="fl" alt="" src="{% static 'imagesqtohouse/Mask group.png'%}" /> -->
                 <img class="maskgroup" alt="" src="{% static 'imagesqtohouse/Maskgroup.png'%}" />  
            </div>
            <!-- <h2 class="pageheading">Selecting QTO House: A Decision for Excellence</h2>
            <p style="text-align: justify;">
                Join hands with QTO House, where we blend a decade of 
                professional expertise with a personal touch for each project. 
                Our certified estimators are champions of accuracy, delivering 
                results that resonate with the cost and quality your projects deserve.
            </p> -->
        <!-- </div> -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 WCUS">
            <ul>
                <li>
                    <div class="imghead">
                        <img class="WCUSimg" src="{% static 'imagesqtosol/Engineer.png'%}" alt="">
                        <h2>Seasoned Industry Experts:</h2>
                    </div>
                    <p>
                        Our estimators bring decades of field experience to the table, providing you with insights that transcend conventional estimation.
                    </p>
                </li>
                <li>
                    <div class="imghead">
                        <img class="WCUSimg" src="{% static 'imagesqtohouse/Project Management.png'%}" alt="">
                        <h2>Comprehensive Project Analysis:</h2>
                    </div>
                    <p>
                        We delve deep, translating project intricacies into actionable, crystal-clear estimates.
                    </p>
                </li>
                <li>
                    <div class="imghead">
                        <img class="WCUSimg" src="{% static 'imagesqtosol/Engineering.png'%}" alt="">
                        <h2>Technological Precision:</h2>
                    </div>
                    <p>
                        Leveraging modern tech to refine estimation precision beyond traditional methods.
                    </p>
                </li>
                <li>
                    <div class="imghead">
                        <img class="WCUSimg" src="{% static 'imagesqtosol/Cost.png'%}" alt="">
                        <h2>Pricing with Perspective:</h2>
                    </div>
                    <p>
                        At QTO House, value meets virtue - offering cost-efficient solutions without skimping on precision.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>