<!-- index.html -->
{% extends 'index.html' %}
{% block CSIDivisions %}
<div class="csidivsions container">
    <!-- CSI Divisions -->
    <h2 class="pageheading">CSI Divisions</h2>
    <ul>
        <li>
            <span>01&nbsp;</span>-&nbsp;<span>General Requirements</span>
        </li>
        <li>
            <span>02&nbsp;</span>-&nbsp;<span>Existing Conditions</span>
        </li>
        <li>
            <span>03&nbsp;</span>-&nbsp;<span>Concrete</span>
        </li>
        <li>
            <span>04&nbsp;</span>-&nbsp;<span>Masonry</span>
        </li>
        <li>
            <span>05&nbsp;</span>-&nbsp;<span>Metals</span>
        </li>
        <li>
            <span>06&nbsp;</span>-&nbsp;<span>Wood, Plastics, Composites</span>
        </li>
        <li>
            <span>07&nbsp;</span>-&nbsp;<span>Thermal & Moisture Protection</span>
        </li>
        <li>
            <span>08&nbsp;</span>-&nbsp;<span>Openings</span>
        </li>
        <li>
            <span>09&nbsp;</span>-&nbsp;<span>Finishes</span>
        </li>
        <li>
            <span>10&nbsp;</span>-&nbsp;<span>Specialties</span>
        </li>
        <li>
            <span>11&nbsp;</span>-&nbsp;<span>Equipment</span>
        </li>
        <li>
            <span>12&nbsp;</span>-&nbsp;<span>Furnishings</span>
        </li>
        <li>
            <span>13&nbsp;</span>-&nbsp;<span>Special Construction</span>
        </li>
        <li>
            <span>14&nbsp;</span>-&nbsp;<span>Conveying Equipment</span>
        </li>
        <li>
            <span>15&nbsp;</span>-&nbsp;<span>Fire Suppression</span>
        </li>
        <li>
            <span>16&nbsp;</span>-&nbsp;<span>Plumbing</span>
        </li>
        <li>
            <span>17&nbsp;</span>-&nbsp;<span>Heating, Ventilating, & Air Conditioning (HVAC)</span>
        </li>
        <li>
            <span>18&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
        </li>
        <li>
            <span>19&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
        </li>
        <li>
            <span>20&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
        </li>
        <li>
            <span>21&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
        </li>
        <li>
            <span>22&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
        </li>
        <li>
            <span>23&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
        </li>
        <li>
            <span>24&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
        </li>
        <li>
            <span>25&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
        </li>
        <li>
            <span>26&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
        </li>
        <li>
            <span>27&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
        </li>
        <li>
            <span>28&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
        </li>
    </ul>
</div>

{% endblock CSIDivisions %}