{% block EstmationServices %}
    <div class="ES">
        <div class="ourServices">
            <h2>Estimation Services We Offer</h2>
            <p>
                We specialize in providing detailed construction cost estimates for residential and commercial projects.
                This includes full project estimates as well as trade-specific estimates for all the CSI divisions. Our
                construction estimating services include;
            </p>
        </div>
        <div class="container ESL">
            <div class="row">
                <!-- Concrete Estimation -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD">
                        <img class="ESM" alt="" src="./images/concrete.png" />
                        <h2>Concrete Estimation</h2>
                        <p>
                            Our Concrete estimates include concrete, rebar and formwork quantities for foundations, concrete
                            pavements, retaining walls, slabs, beam, columns etc.
                        </p>
                    </div>
                </div>

                <!-- Masonry Estimation -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD">
                        <img class="ESM" alt="" src="./images/MASONARY.png" />
                        <h2>Concrete Estimation</h2>
                        <p>
                            Our Concrete estimates include concrete, rebar and formwork quantities for foundations, concrete
                            pavements, retaining walls, slabs, beam, columns etc.
                        </p>
                    </div>
                </div>

                <!-- Drywall Estimation -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD">
                        <img class="ESM" alt="" src="./images/DRYWALL.png" />
                        <h2>Drywall Estimation</h2>
                        <p>
                            Our drywall estimating service includes drywall sheets count, metal stud quantities, taping,
                            mudding and joint compounds etc.
                        </p>
                    </div>
                </div>

                <!-- Lumber Estimation -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD">
                        <img class="ESM" alt="" src="./images/LAMBER.png" />
                        <h2>Lumber Estimation</h2>
                        <p>
                            Our lumber takeoffs service includes all the lumber framing that includes wall studs, joists,
                            rafters, floor beams, PSLs, LVLs, wood decking, plywood sheathing.
                        </p>
                    </div>
                </div>

                <!-- Paint Estimation -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD">
                        <img class="ESM" alt="" src="./images/PAINT.png" />
                        <h2>Paint Estimation</h2>
                        <p>
                            Our detailed painting estimates include priming, scraping and painting for walls, ceilings,
                            doors & metal railings etc. We also estimate special coatings and wall coverings.
                        </p>
                    </div>
                </div>

                <!-- Earthwork Estimation -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD">
                        <img class="ESM" alt="" src="./images/EARTH.png" />
                        <h2>Earthwork Estimation</h2>
                        <p>
                            Our Concrete estimates include concrete, rebar and formwork quantities for foundations, concrete
                            pavements, retaining walls, slabs, beam, columns etc.
                        </p>
                    </div>
                </div>

                <!-- Flooring Estimation -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD">
                        <img class="ESM" alt="" src="./images/FLOOR.png" />
                        <h2>Flooring Estimation</h2>
                        <p>
                            Our Concrete estimates include concrete, rebar and formwork quantities for foundations, concrete
                            pavements, retaining walls, slabs, beam, columns etc.
                        </p>
                    </div>
                </div>

                <!-- Electrical Estimating -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                    <div class="ESD">
                        <img class="ESM" alt="" src="./images/ELEC.png" />
                        <h2>Electrical Estimating</h2>
                        <p>
                            Our Concrete estimates include concrete, rebar and formwork quantities for foundations, concrete
                            pavements, retaining walls, slabs, beam, columns etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock EstmationServices %}