{% extends "partials/msbase.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block extra_css %}   
<!-- jsvectormap css -->
<link href="{% static 'libs/jsvectormap/dist/css/jsvectormap.min.css'%}" rel="stylesheet" type="text/css" />

<!--Swiper slider css-->
<link href="{% static 'libs/swiper/swiper-bundle.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="">

    <div class="page-content">
        <div class="container-fluid">
            {% block pagetitle %}
            {% endblock pagetitle %}

        </div>
        <!-- container-fluid -->
        <div>
            <!-- <AdvanceSearch /> -->
            <section>
                <div class="background-img">
                    <div class="color_gradient" id="grad1">
                        <section class="search" style="background-image: url('./static/assets/img/carousel2.jpg')">
                            <div class="container-fluid">
                                <div class="search-background">
                                    <div class="text-center">
                                        <span class="heading">Search Projects</span>
                                    </div>
                                    <div class="main-search">
                                        <div class="main-row">
                                            <div class="search-ms">
                                                <input type="text" placeholder="Window, roof, etc" />
                                            </div>
                                            <div class="location d-flex flex-row">
                                                <span class="location-icon"><i class="fa-solid fa-location-dot"></i></span>
                                                <select class="form-select" aria-label="Default select example">
                                                    <option value="" selected><span><i
                                                                class="fa-solid fa-angle-down float-right"></i></span> Location
                                                    </option>
                                                    <option value="Alabama">Alabama</option>
                                                    <!-- Add other options as needed -->
                                                </select>
                                            </div>
                                            <div class="button">
                                                <button type="submit">
                                                    <img class="pdf" alt="" src="./images/search.png" />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- More options section -->
                                    <div class="extended-search">
                                        <div class="row">
                                            <!-- Date Range -->
                                            <div class="col-5">
                                                <div class="head">
                                                    <label for="Date"> Date Range</label>
                                                </div>
                                                <div class="date">
                                                    <form action="/action_page.php">
                                                        <input class="left-input" type="date" id="birthday" name="birthday" />
                                                        <span class="center-span">to</span>
                                                        <input class="right-input" type="date" id="birthday" name="birthday" />
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- Bid Amount -->
                                            <div class="col-5">
                                                <div class="head">
                                                    <label>Bid Amount</label>
                                                </div>
                                                <div class="amount">
                                                    <input class="left-input" type="number" placeholder="100   $" />
                                                    <span class="center-span">to</span>
                                                    <input class="right-input" type="number" placeholder="5000000  $" />
                                                </div>
                                            </div>
                                            <!-- Status -->
                                            <div class="col-2">
                                                <div class="head">
                                                    <label>Status</label>
                                                </div>
                                                <div class="status">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option value="">Solicicated</option>
                                                        <option value="Alabama">UnSolicicated</option>
                                                        <option value="Alaska">None</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Show more button -->
                                    <div class="show-more text-center" onClick={togglemoreoptions}>
                                        <i class="fa-solid fa-angle-down"></i>
                                        <span>More Options</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>

        
            <section class="container">
                <!-- Qto Numbering Available -->
                <div class="container qna">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <ul class="qto-available">
                                <li class="border">
                                    <img class="" alt="" src="./images/group1.svg" />
                                    <span class="qtoA">QTO- Available</span>
                                    <span>200</span>
                                </li>
                                <li class="border">
                                    <img class="" alt="" src="./images/qto-in-progress.png" />
                                    <span class="qtoA">QTO- In Progress</span>
                                    <span>81</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <ul>
                                <li class="border">
                                    <img class="" alt="" src="./images/bid-results.png" />
                                    <span class="qtoA">Bid Results</span>
                                    <span>50</span>
                                </li>
                                <li class="border">
                                    <img class="" alt="" src="./images/group1.svg" />
                                    <span class="qtoA">Private project</span>
                                    <span>200</span>
                                </li>
                                <li class="border">
                                    <img class="" alt="" src="./images/awarded.png" />
                                    <span class="qtoA">Awarded</span>
                                    <span>100</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Reacent Updates and Job Calendar Section -->
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="">
                                <div class="border RU">
                                    <h2 class="">Recent Updates</h2>
                                    <div class="cards">
                                        <!-- Repeated cardheadingsect structure -->
                                        <div class="cardheadingsect">
                                            <!-- Content of a card -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                            <div class="border RU JC">
                                <h2 class="">Job Calendar</h2>
                                <div class="cards">
                                    <!-- Repeated cardheadingsect structure -->
                                    <div class="cardheadingsect">
                                        <!-- Content of a card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Latest Projects -->
                <div class="container">
                    <div class="row">
                        <!-- Content of the section -->
                    </div>
                </div>
                <!-- Why Choose QTo -->
                <div class="container">
                    <div class="row">
                        <!-- Content of the section -->
                    </div>
                </div>
        
                <!-- Additional sections, such as LatestProjects, Weworkwith, etc. (uncomment as needed) -->
                <!-- <LatestProjects />
            <Weworkwith />
            <ContainerCardForm />
            <CardContainer /> -->
            </section>
            <!-- <LatestProjects /> -->
            <!-- <EstmationServices /> -->
            <div class="ES">
                <div class="ourServices">
                    <h2>Estimation Services We Offer</h2>
                    <p>
                        We specialize in providing detailed construction cost estimates for
                        residential and commercial projects. This includes full project
                        estimates as well as trade-specific estimates for all the CSI divisions.
                        Our construction estimating services include;
                    </p>
                </div>
                <div class="container ESL">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                            <div class="ESD">
                                <img class="ESM" alt="" src="./images/concrete.png" />
                                <h2 class="">Concrete Estimation</h2>
                                <p>
                                    Our Concrete estimates include concrete, rebar and formwork quantities
                                    for foundations, concrete pavements, retaining walls, slabs, beam,
                                    columns etc.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                            <div class="ESD">
                                <img class="ESM" alt="" src="./images/MASONARY.png" />
                                <h2 class="">Concrete Estimation</h2>
                                <p>
                                    Our Concrete estimates include concrete, rebar and formwork quantities
                                    for foundations, concrete pavements, retaining walls, slabs, beam,
                                    columns etc.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                            <div class="ESD">
                                <img class="ESM" alt="" src="./images/DRYWALL.png" />
                                <h2 class="">Drywall Estimation</h2>
                                <p>
                                    Our drywall estimating service includes drywall sheets count, metal
                                    stud quantities, taping, mudding and joint compounds etc.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                            <div class="ESD">
                                <img class="ESM" alt="" src="./images/LAMBER.png" />
                                <h2 class="">Lumber Estimation</h2>
                                <p>
                                    Our lumber takeoffs service includes all the lumber framing that
                                    includes wall studs, joists, rafters, floor beams, PSLs, LVLs, wood
                                    decking, plywood sheathing.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                            <div class="ESD">
                                <img class="ESM" alt="" src="./images/PAINT.png" />
                                <h2 class="">Paint Estimation</h2>
                                <p>
                                    Our detailed painting estimates include priming, scraping and painting
                                    for walls, ceilings, doors & metal railings etc. We also estimate
                                    special coatings and wall coverings.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                            <div class="ESD">
                                <img class="ESM" alt="" src="./images/EARTH.png" />
                                <h2 class="">Earthwork Estimation</h2>
                                <p>
                                    Our Concrete estimates include concrete, rebar and formwork quantities
                                    for foundations, concrete pavements, retaining walls, slabs, beam,
                                    columns etc.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                            <div class="ESD">
                                <img class="ESM" alt="" src="./images/FLOOR.png" />
                                <h2 class="">Flooring Estimation</h2>
                                <p>
                                    Our Concrete estimates include concrete, rebar and formwork quantities
                                    for foundations, concrete pavements, retaining walls, slabs, beam,
                                    columns etc.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
                            <div class="ESD">
                                <img class="ESM" alt="" src="./images/ELEC.png" />
                                <h2 class="">Electrical Estimating</h2>
                                <p>
                                    Our Concrete estimates include concrete, rebar and formwork quantities
                                    for foundations, concrete pavements, retaining walls, slabs, beam,
                                    columns etc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <Faqs /> -->
                    <div class="csidivsions container">
                        <h2 class="pageheading">FAQs</h2>
                        <div class="accordion faq" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        How much do you charge for an estimate?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Our estimating service fee depend on project size and scope of
                                            works. You can email plans and the scope of works to
                                            info@qtoestimating.com in order to get a quote for the
                                            estimate. For a single trade estimate our charges usually
                                            start from $100.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How long it takes to do an estimate?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Our estimating service fee depend on project size and scope of
                                            works. You can email plans and the scope of works to
                                            info@qtoestimating.com in order to get a quote for the
                                            estimate. For a single trade estimate our charges usually
                                            start from $100.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        From where do you get local pricing?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Our estimating service fee depend on project size and scope of
                                            works. You can email plans and the scope of works to
                                            info@qtoestimating.com in order to get a quote for the
                                            estimate. For a single trade estimate our charges usually
                                            start from $100.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <!-- {% block CSIDivisions %} -->
            <div class="csidivsions container">
                <!-- CSI Divisions -->
                <h2 class="pageheading">CSI Divisions</h2>
                <ul>
                    <li>
                        <span>01&nbsp;</span>-&nbsp;<span>General Requirements</span>
                    </li>
                    <li>
                        <span>02&nbsp;</span>-&nbsp;<span>Existing Conditions</span>
                    </li>
                    <li>
                        <span>03&nbsp;</span>-&nbsp;<span>Concrete</span>
                    </li>
                    <li>
                        <span>04&nbsp;</span>-&nbsp;<span>Masonry</span>
                    </li>
                    <li>
                        <span>05&nbsp;</span>-&nbsp;<span>Metals</span>
                    </li>
                    <li>
                        <span>06&nbsp;</span>-&nbsp;<span>Wood, Plastics, Composites</span>
                    </li>
                    <li>
                        <span>07&nbsp;</span>-&nbsp;<span>Thermal & Moisture Protection</span>
                    </li>
                    <li>
                        <span>08&nbsp;</span>-&nbsp;<span>Openings</span>
                    </li>
                    <li>
                        <span>09&nbsp;</span>-&nbsp;<span>Finishes</span>
                    </li>
                    <li>
                        <span>10&nbsp;</span>-&nbsp;<span>Specialties</span>
                    </li>
                    <li>
                        <span>11&nbsp;</span>-&nbsp;<span>Equipment</span>
                    </li>
                    <li>
                        <span>12&nbsp;</span>-&nbsp;<span>Furnishings</span>
                    </li>
                    <li>
                        <span>13&nbsp;</span>-&nbsp;<span>Special Construction</span>
                    </li>
                    <li>
                        <span>14&nbsp;</span>-&nbsp;<span>Conveying Equipment</span>
                    </li>
                    <li>
                        <span>15&nbsp;</span>-&nbsp;<span>Fire Suppression</span>
                    </li>
                    <li>
                        <span>16&nbsp;</span>-&nbsp;<span>Plumbing</span>
                    </li>
                    <li>
                        <span>17&nbsp;</span>-&nbsp;<span>Heating, Ventilating, & Air Conditioning (HVAC)</span>
                    </li>
                    <li>
                        <span>18&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
                    </li>
                    <li>
                        <span>19&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
                    </li>
                    <li>
                        <span>20&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
                    </li>
                    <li>
                        <span>21&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
                    </li>
                    <li>
                        <span>22&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
                    </li>
                    <li>
                        <span>23&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
                    </li>
                    <li>
                        <span>24&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
                    </li>
                    <li>
                        <span>25&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
                    </li>
                    <li>
                        <span>26&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
                    </li>
                    <li>
                        <span>27&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
                    </li>
                    <li>
                        <span>28&nbsp;</span>-&nbsp;<span>Integrated Automation</span>
                    </li>
                </ul>
            </div>
            <!-- {% endblock CSIDivisions %} -->
            <!-- <Weworkwith /> -->
            <div class="WWW">
                <div class="container">
                    <h1 class="pageheading">We Work With</h1>
                    <p>
                        We are a multi-faceted industry leader and through our family of
                        companies making up one of the region’s largest Construction Estimation
                        Firm.
                    </p>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="d-flex">
                                <img class="" alt="" src="./images/Checkmark.png" />
                                <p>General Contractors</p>
                            </div>
                            <div class="d-flex">
                                <img class="" alt="" src="./images/Checkmark.png" />
                                <p>Sub-contractors</p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="d-flex">
                                <img class="" alt="" src="./images/Checkmark.png" />
                                <p>Remodeling Contractors</p>
                            </div>
                            <div class="d-flex">
                                <img class="" alt="" src="./images/Checkmark.png" />
                                <p>Material Suppliers</p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="d-flex">
                                <img class="" alt="" src="./images/Checkmark.png" />
                                <p>Architects</p>
                            </div>
                            <div class="d-flex">
                                <img class="" alt="" src="./images/Checkmark.png" />
                                <p>Homeowners</p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="d-flex">
                                <img class="" alt="" src="./images/Checkmark.png" />
                                <p>Designers</p>
                            </div>
                            <div class="d-flex">
                                <img class="" alt="" src="./images/Checkmark.png" />
                                <p>Developers</p>
                            </div>
                        </div>
                    </div>
                    <a href="/quote">
                        <button class="NB">Get quote</button>
                    </a>
                </div>
            </div>

        </div>

    </div>
    <!-- End Page-content -->
    {% block footer %}
     {% include "partials/msfooter.html" %}
    {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

<!-- Vector map-->
<script src="{% static 'libs/jsvectormap/dist/js/jsvectormap.min.js'%}"></script>
<script src="{% static 'libs/jsvectormap/dist/maps/world-merc.js'%}"></script>

<!--Swiper slider js-->
<script src="{% static 'libs/swiper/swiper-bundle.min.js'%}"></script>

<!-- Dashboard init -->
<script src="{% static 'js/pages/dashboard-ecommerce.init.js'%}"></script>
{% endblock extra_js %}