{% load static %}
<!-- FILEPATH: Untitled-1 -->
<div class="row footer ">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <ul>
            <!-- <a class="" href="/">
            <li class="footer-image">
                <img class="fl " alt="" src="{% static 'imagesqtohouse/logo1.png'%}" />
                
            </li>
            </a> -->
            <li class="footer-image">
                
                <img class="fl " alt="" src="{% static 'imagesqtohouse/logo1.png'%}" />
                <p>
                
                    QTO House is a Professional Estimation and Quantity Take-off
                    Service Provider. We assist our clients in pain staking and
                    timeconsuming involvement of Building Estimation With QTO   
                    House,the bidding process is made simple!
                </p>
            </li>
            <li style="margin-left: 67px; ">
                <p>© 2024 QTO HOUSE - ALL RIGHTS RESERVED.</p>
            </li>
        </ul>
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
        <ul>

            <li>
                <p class="follow-us-text">Follow Us </p>
            </li>
            <li class="social_media_icon">
                <a href="https://www.linkedin.com/company/qtohouse/">
                <img class="contact_footer_linkedin" alt="" src="/static/imagesqtohouse/twitter-circled@2x.png" />
                </a>
                <a href="https://www.instagram.com/qtohouse/">
                <img class="contact_footer_instagram" alt="" src="{% static 'imagesqtohouse/instagram@2x.png'%}" />
                </a>
                 <a href="https://www.facebook.com/qtohouse">
                <img class="contact_footer_twitter" alt="" src="{% static 'imagesqtohouse/facebook@2x.png'%}" />
                </a>
            </li>
        </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 fmac">
        <ul>
            <li>
                <img class="mailfooter" alt="" src="{% static 'imagesqtohouse/mail_footer.png'%}" />
                <a href="mailto:info@qtohouse.com">
                    <p>info@qtohouse.com</p>
                </a>
            </li><br/>
            <li>
                <img class="mailfooter" alt="" src="{% static 'imagesqtohouse/contact_footer.png'%}" />
                <a class="" href="tel: 571-748-4366">
                    <p>(571)-748-4366</p>
                </a>
            </li>
        </ul>
    </div>
</div>