{% load static %}
<!-- FILEPATH: Untitled-1 -->
<div class="row footer ">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <ul>
            <li class="footer-image">
                <img class="fl " alt="" src="{% static 'imagesqtohouse/logo1.png'%}" />
                <div>
                    <img class="vfs " alt="" src="{% static 'imagesqtohouse/verifysecured.png'%}" />
                </div>
            </li>
            <li>
                <p style="text-align: justify;">

                    QTO House is a Professional Estimation and Quantity Take-off
                    Service Provider. We assist our clients in pain staking and
                    timeconsuming involvement of Building Estimation With QTO
                    House,the bidding process is made simple!
                </p>
            </li>
            <li>
                <p>© 2024 QTO HOUSE - ALL RIGHTS RESERVED.</p>
            </li>
        </ul>
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
        <ul>

            <li>
                <p class="follow-us-text">Follow Us </p>
            </li>
            <li class="social_media_icon">
                <img class="contact_footer" alt="" src="{% static 'imagesqtohouse/instagram@2x.png'%}" />
                <img class="contact_footer" alt="" src="{% static 'imagesqtohouse/facebook@2x.png'%}" />
                <img class="contact_footer" alt="" src="{% static 'imagesqtohouse/twitter-circled@2x.png'%}" />
            </li>
        </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 fmac">
        <ul>
            <li>
                <img class="mailfooter" alt="" src="{% static 'imagesqtohouse/mail_footer.png'%}" />
                <a href="mailto:info@qtohouse.com">
                    <p>info@qtohouse.com</p>
                </a>
            </li>
            <li>
                <img class="mailfooter" alt="" src="{% static 'imagesqtohouse/contact_footer.png'%}" />
                <a class="" href="tel: 571-748-4366">
                    <p>(312)-544-0023</p>
                </a>
            </li>
        </ul>
    </div>
</div>