{% load static %}
{% block header %}

<div class="icon-bar">
    <a href="https://www.linkedin.com/company/71647097/admin/feed/posts/" class="linkedin">
        <img class="fixed-sidebar-image" alt="" src="/static/imagesqtohouse/twitter-circled@2x.png" />
    </a>
    <a href="https://www.instagram.com/qto_solutions/" class="instagram">
        <img class="fixed-sidebar-image" alt="" src="/static/imagesqtohouse/instagram@2x.png" />
    </a>
    <!-- <a href="https://twitter.com/QtoSol" class="twitter">
        <img class="fixed-sidebar-image" alt="" src="/static/imagesqtohouse/twitter-circled@2x.png" />
    </a> -->
    <a href="https://www.facebook.com/profile.php?id=100064318140416" class="facebook">
        <img class="fixed-sidebar-image" alt="" src="/static/imagesqtohouse/facebook@2x.png" />
    </a>
</div>

<div class="row mininav">
    <div class="NewP col-sm-12 col-md-6 col-lg-7">
        <!-- <div class="">
            <div>
                <img src="{% static 'imagesqtosol/icon2.png'%}" alt="Image 0" />
            </div>
        </div>
        <div class="newproject">
            <span>Coney Island Head Start Daycare Center (Brooklyn) : Bid Date : 02-06-2023</span>
        </div>
        <div class=""></div>
        <div class=""></div> -->
    </div>
    <div class="NewPR col-sm-12 col-md-6 col-lg-5">
        <div class="navul">
            {% if user.is_authenticated %}
            <a href="/Logout" class="nav-link">
                <button type="button" class="btn loginb vertical-align-btn">
                    Logout
                </button>
            </a>
            {% else %}
            <a href="/Login" class="nav-link">
                <button type="button" class="btn loginb vertical-align-btn">
                    Login
                </button>
            </a>
            {% endif %}
        </div>
        <!-- <div class="">
            <button type="button" class="btn cartb vertical-align-btn">
                <div class="CI">
                    <a href="cart/">
                    <img src="{% static 'imagesqtosol/carticon.png'%}" alt="Image 3" />
                    </a>
                </div>
                <span>No Item</span>
                <div>
                    <img src="{% static 'imagesqtosol/dropdown.png'%}" alt="Image 4" />
                </div>
            </button>
        </div> -->
        <!-- <div class="mni bdg">
            <div>
                <img src="{% static 'imagesqtosol/noti.png'%}" alt="Image 6" />
                <span class="notifi">4</span>
            </div>
        </div> -->
        <div class="mni">
            <div>
                <img src="{% static 'imagesqtosol/mail.png'%}" alt="Image 5" />
                <div class="newproject">
                    <span>info@qtosol.com</span>
                </div>
            </div>
        </div>
        <div class="mni ml-auto">
            <div><a class="" href="tel: 571-748-4366"><img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGeSURBVHgBrVcBdYQwDA1nYOdgOBgSOgc4OCTgABwcUwBTcBJgDnAAp4A5yNJH+xZ6lALtfy+vkIT8JiR9EAEDIia0JLDEL0kfRdEIoUBEMUmL2yggFCjYgPtwA09EFETQ2qr7nuTL8HkjqdR1R6X9BB8QYcYyyCw+D2WfwBMXmLPSuFr8ntquGsuLcGT3Hxa/jl2n4AvWNIPFLjOblE8LHrio9Uetcjxi04kaRc7iqH0gAGHHdC8lUzOo390TfLFVMklmzKKAEDBOGsH06Bqbs4SCBW4tG8khJNayxPmc1eWefOfQJORZDkyfc/1aJ/uQPljwO9NXW6Rqs3eSEo80llFCNBqoYXrpc8O5w/kmub3dtQFySI0HYwupznYPChdpiZYSGjbuk+BcWln+fsVHuEgbMyCzCWRnMFoaCZcNV4EL+FrCwrDL8l8dMTRq2ANcdqhEiwdG4zCheihfeSf1HuJThOrBGNe7ssaNE+g0IQuQWYgHRZ7qDeByxNxNc5LYBgEhgPOINA7yUvpGEBj4/7sg5R3mX4Vv+kzppP0Pic6y659f7DQAAAAASUVORK5CYII="
                        alt="Image 9">
                    <div class="newproject"><span>(571)-748-4366</span></div>
                </a></div>
        </div>
        <div class=""></div>
    </div>
</div>


<!-- Navbar section -->
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="logo nav_logo" src="{% static 'imagesqtosol/logo1.png'%}" alt="Image 6" />
            </a>

            <!-- Navbar toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container teal borderYtoX">
                    <div class="justify-content-end">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="float: right;">
                            <li class="nav-item ">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="AboutUs">About Us</a>
                            </li>
                            {% if user.is_authenticated %}

                            <li class="nav-item">
                                <a class="nav-link" href="Projects">Projects</a>
                            </li>
                            {% else %}


                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="Services">Solutions</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="career">Career</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="ContactUs">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Sample">Sample</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="quote" class="nav-link">
                    <button type="button" class="btn loginb NB vertical-align-btn">
                        Get Free Quote
                    </button>
                </a>



            </div>
        </div>
    </nav>
</div>

<section>
    <!-- Carousel section -->
    <div class="container_fluid">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Carousel background image -->
            <div class="carousel-inner">
                <div class="carousel-item">
                    <!-- Search bar with location selection -->
                    <div class="carousel-caption">
                        <div class="search-bar-container">
                            <div>
                                <span class="srchspn">Keywords</span>
                                <input type="text" class="form-control" placeholder="Windows,Roof etc'" />
                            </div>
                            <div>
                                <span class="srchspn">Locations</span>
                                <select class="form-select" aria-label="Location Select">
                                    <option value="1">Select Region</option>
                                    <option value="2">Location 2</option>
                                    <!-- Add more options for locations as needed -->
                                </select>
                            </div>
                            <div>
                                <button type="button" class="btn loginb">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock header %}