{% extends "partials/qtosolbase.html" %}
{% load static %}

{% block html %}data-layout="vertical" data-layout-style="detached" data-layout-position="fixed" data-topbar="light"
data-sidebar="dark" data-sidebar-size="lg" data-layout-width="fluid"{% endblock html %}

{% block title %}QTO SOL{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<!-- end main content-->
<div class="about about-us-img">
    <div class="colorgradientonimage">
      <h2>Welcome to QTO Solutions</h2>
    </div>
  </div>
  
  <div class="about-us">
    <img class="image-box" src="{% static 'imagesqtosol/hart 2.png'%}" alt="" />
  
    <p>
      <h2 class="pageheading-test pageheading-contact">About Us</h2>
      Welcome to QTO Solutions, where innovation meets expertise in the dynamic world of construction. As a premier provider of pre-construction consultancy services, we are your trusted partner in navigating the intricate landscape of project estimation and bidding.
      <br /><br />
      At QTO Solutions, we understand the pivotal role accurate cost estimation plays in the success of any construction endeavor. That's why we have assembled a team of versatile estimators equipped with cutting-edge software tools, enabling us to deliver precise and competitive estimates tailored to your unique project requirements.
      <br /><br />
      Our commitment to professionalism, accuracy, and customer satisfaction is unwavering. With coverage spanning across all US states, we are dedicated to supporting general contractors, subcontractors, developers, and private owners alike in achieving their construction goals.
      <br /><br />
      What sets us apart is our relentless pursuit of excellence. We pride ourselves on our ability to streamline operations for general contractors, empowering them to win bids with confidence. By harnessing the power of technology and industry-leading insights, we provide unparalleled efficiency and accuracy in our estimating and take-off services.
      <br /><br />
      Experience the QTO Solutions difference and unlock the full potential of your construction projects. Partner with us today and let's build a brighter future together.
      <br /><br /><br /><br /><br />
    </p>
  
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 WCUS custom-width">
      <h2 class="pageheading-test pageheading-contact">Value Propositions</h2>
      <ul>
        <li>
          <div class="imghead">
            <img class="WCUSimg" alt="" src="./images/partner.png" />
            <h2>Boost Your Pre-Construction Confidence:</h2>
          </div>
  
          <p style="font-size: 16px; color: #212529;">Partner with QTO Solutions for expert estimating support, ensuring your bids stand out in the competitive construction landscape.</p>
        </li>
        <li>
          <div class="imghead">
            <img class="WCUSimg" alt="" src="./images/accuracy-1.png" />
            <h2>Outsource Estimating Hassles:</h2>
          </div>
  
          <p style="font-size: 16px; color: #212529;">Focus on your core projects while we handle your estimating needs, delivering accurate, timely results every time.</p>
        </li>
        <li>
          <div class="imghead">
            <img class="WCUSimg" alt="" src="./images/precision.png" />
            <h2>Empowering Contractors with Precision:</h2>
          </div>
  
          <p style="font-size: 16px; color: #212529;">Trust QTO Solutions to fine-tune your estimates, providing the edge you need to win lucrative contracts confidently.</p>
        </li>
        <li>
          <div class="imghead">
            <img class="WCUSimg" alt="" src="./images/allies.png" />
            <h2>Your Estimating Allies:</h2>
          </div>
  
          <p style="font-size: 16px; color: #212529;">QTO Solutions - the reliable partner ensuring your estimations are meticulous and competitive, every single time.</p>
        </li>
        <li>
          <div class="imghead">
            <img class="WCUSimg" alt="" src="{% static 'imagesqtosol/hand-bid.png'%}"  />
            <h2>Bid Better, Win More:</h2>
          </div>
  
          <p style="font-size: 16px; color: #212529;">Harness our estimating expertise to craft compelling bids that secure your success in the cutthroat construction market.</p>
        </li>
      </ul>
    </div>
  
     <img class="image-box" src="{% static 'imagesqtosol/Cal 1.png'%}" alt="" />
  </div>
  
  <div class="container-fluid aUp">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
    </div>
  </div>
  
  <WhyChooseQto />
  <Weworkwith />
  




{% block CSI-Division %}
{% include "qtosol/CsiDvisions.html" %}
{% endblock CSI-Division %}
{% block Weworkwith %}
{% include "qtosol/WeWorkWith.html" %}
{% endblock Weworkwith %}



{% endblock content %}

{% block extra_js %}
<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

<!-- Dashboard init -->
<script src="{% static 'js/pages/dashboard-crm.init.js'%}"></script>
{% endblock extra_js %}

