<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>

<body>
    <div class="about contact-us-img">
        <div class="colorgradientonimage">
            <h2>Get In Touch</h2>
        </div>
    </div>

    <div class="about-us">
        <img class="hat" alt="" src="./images/hart 2.png" />
        <form class="form-inline">
            <div class="row">
                <h2 class="pageheading-test pageheading-contact">Contact Us</h2>
                <div class="form-group">
                    <img class="user" alt="" src="./images/user.png" />
                    <input class="from-placeholder" type="text" placeholder="Name">
                </div>
                <div class="form-group col-5">
                    <img class="user" alt="" src="./images/mail-black.png" />
                    <input class="from-placeholder" type="text" placeholder="Email">
                </div>
                <div class="form-group">
                    <img class="user" alt="" src="./images/phone.png" />
                    <input type="password" placeholder="Phone Number" class="from-placeholder">
                </div>
                <div class="form-group">
                    <img class="user" alt="" src="./images/city.png" />
                    <input type="password" placeholder="City" class="from-placeholder">
                </div>
                <div class="form-group">
                    <img class="user" alt="" src="./images/Company.png" />
                    <input type="password" placeholder="Company Name" class="from-placeholder">
                </div>
                <div class="form-group contact-textarea">
                    <textarea placeholder="Write your message here ...." class="form-textarea"></textarea>
                </div>
                <button type="submit" class="regist-but-contactus">Submit</button>
            </div>
        </form>
        <img class="cal" alt="" src="./images/Cal 1.png" />
    </div>
    <div class="container-fluid aUp">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
        </div>
    </div>
    <!-- Include the WhyChooseQto component HTML here -->
    <!-- Include the Weworkwith component HTML here -->
</body>

</html>