{% load static %}
<div class="row footer">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <ul>
            <li class="footer-image">
                <a href="/">
                    <img class="fl" alt="" src="./images/qto logo_new.png">
                </a>
                <div>
                    <img class="vfs" alt="" src="./images/verifysecured.png">
                </div>
            </li>
            <br>
            <li>
                <p style="text-align: justify;">
                    QTO Solutions is a Professional Estimation and Quantity Take-off Service Provider.
                    We assist our clients in painstaking and time-consuming involvement of Building
                    Estimation. With QTO Solutions, the bidding process is made simple!
                </p>
            </li>
            <li>
                <p>© 2024 QTO SOLUTIONS - ALL RIGHTS RESERVED.</p>
            </li>
        </ul>
        <ul>
            <!-- You can add more list items here if needed -->
        </ul>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <ul>
            <li>
                <p class="follow-us-text">Follow Us</p>
            </li>
            <li class="social_media_icon">
                <a href="https://www.linkedin.com/company/71647097/admin/feed/posts/">
                    <img class="contact_footer_linkedin" alt="" src="./images/linkedin.png" title="Linkedin">
                </a>
                <a href="https://www.instagram.com/qto_solutions/">
                    <img class="contact_footer_instagram" alt="" src="./images/insta.png" title="Instagram">
                </a>
                <a href="https://twitter.com/QtoSol">
                    <img class="contact_footer_twitter" alt="" src="./images/twitter.png" title="Twitter">
                </a>
                <a href="https://www.facebook.com/profile.php?id=100064318140416">
                    <img class="contact_footer_facebook" alt="" src="./images/facebook.png" title="Facebook">
                </a>
            </li>
        </ul>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 fmac">
        <ul>
            <li>
                <img class="mailfooter" alt="" src="./images/mail_footer.png">
                <a class="emailbg" href="mailto:info@qtosol.com">
                    <p>info@qtosol.com</p>
                </a>
            </li>
            <li>
                <img class="mailfooter" alt="" src="./images/search_footer.png">
                <a class="emailbg" href="tel:571-748-4366">
                    <p>(312)-544-0023</p>
                </a>
            </li>
        </ul>
    </div>
</div>