<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Navbar</title> -->
  <!-- Add CSS files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="icon-bar">
    <a href="https://www.linkedin.com/company/71647097/admin/feed/posts/" class="linkedin">
      <img class="fixed-sidebar-image" src="./images/twitter-circled@2x.png" alt="">
    </a>
    <a href="https://www.instagram.com/qto_solutions/" class="instagram">
      <img class="fixed-sidebar-image" src="./images/instagram@2x.png" alt="">
    </a>
    <a href="https://twitter.com/QtoSol" class="twitter">
      <img class="fixed-sidebar-image" src="./images/twitter-circled@2xx.png" alt="">
    </a>
    <a href="https://www.facebook.com/profile.php?id=100064318140416" class="facebook">
      <img class="fixed-sidebar-image" src="./images/facebook@2x.png" alt="">
    </a>
  </div>

  <div class="row mininav">
    <div class="NewP col-sm-12 col-md-12 col-lg-12">
      <div class="mni ml-auto">
        <div key="image9">
          <a href="tel: 571-748-4366">
            <img src="./images/qto logo_new.png" alt="Image 9">
            <div class="newproject">
              <span>(312)-544-0023</span>
            </div>
          </a>
        </div>
      </div>
      <div class="mni ml-auto">
        <div key="image5">
          <a href="mailto:info@qtosol.com">
            <img src="./images/mail.png" alt="Image 5">
            <div class="newproject">
              <span>info@qtosol.com</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img class="logo nav_logo" src="./imagesqtosol/qto logo_new.png" alt="Image 10">
      </a>
      <a class="navbar-brand" href="/">
        <img class="logo nav_logo" src="./imagesqtosol/QTO SOLUTION LOGO-08.png" alt="Image 6">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container teal borderYtoX">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/" data-toggle="tab">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/AboutUs">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Services">Solutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/career">Career</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ContactUs">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Sample">Sample</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quote">
                <button type="button" class="btn loginb NB vertical-align-btn">Get Free Quote</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <section>
    <div class="container_fluid">
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <div class="carousel-caption">
              <div class="search-bar-container">
                <div>
                  <span class="srchspn">Keywords</span>
                  <input type="text" class="form-control" placeholder="Windows,Roof etc">
                </div>
                <div>
                  <span class="srchspn">Locations</span>
                  <select class="form-select" aria-label="Location Select">
                    <option value="1">Select Region</option>
                    <option value="2">Location 2</option>
                    <!-- Add more options for locations as needed -->
                  </select>
                </div>
                <div>
                  <button type="button" class="btn loginb">Search</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Add JS files -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
