<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Free Quote</title>
    <!-- Add your CSS files here -->
</head>

<body>
    <div class="login-p">
        <div>
            <div class="register-form-quote">
                <h2 class="pageheading">Get Free Quote</h2>
                <div class="container">
                    <form class="form-inline">
                        <div class="row">
                            <div class="form-group-quote">
                                <img class="user" alt="" src="./images/user.png" />
                                <input class="from-placeholder" type="text" placeholder="First Name" />
                            </div>

                            <div class="form-group-quote ">
                                <img class="user" alt="" src="./images/user.png" />
                                <input class="from-placeholder" type="text" placeholder="Last Name" />
                            </div>

                            <div class="form-group-quote">
                                <img class="user" alt="" src="./images/mail-black.png" />
                                <input class="from-placeholder" type="text" placeholder="Email" />
                            </div>

                            <div class="form-group-quote">
                                <img class="user" alt="" src="./images/phone.png" />
                                <input type="password" placeholder="Phone Number" class="from-placeholder" />
                            </div>

                            <div class="form-group-quote">
                                <img class="user" alt="" src="./images/address.png" />
                                <input type="password" placeholder="Address" class="from-placeholder" />
                            </div>

                            <div class="form-group-quote">
                                <img class="user" alt="" src="./images/Company.png" />
                                <input type="password" placeholder="Company Name" class="from-placeholder" />
                            </div>

                            <div class="form-group-quote">
                                <img class="user" alt="" src="./images/NOF.png" />
                                <input type="password" placeholder="No Of Drawings" class="from-placeholder" />
                            </div>

                            <div class="form-group-quote">
                                <img class="user" alt="" src="./images/NOF.png" />
                                <input type="password" placeholder="Target No Of Days" class="from-placeholder" />
                            </div>

                            <div class="form-group-quote-file">
                                <img class="upload-img" alt="" src="./images/upload.png" />
                                <input type="password" placeholder="Drag your Specification Files Here"
                                    class="from-placeholder" />
                                <span>only pdf files are allowed</span>
                            </div>

                            <button type="submit" class="regist-but-quote">Get Free Quote</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>