<div class="WCUQTO container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 WCU">
            <h2 class="pageheading">Why Choose QTO</h2>
            <p style="text-align: justify;">
                We are a professional construction estimating firm with a team of
                certified construction estimators, each having over 20 years of
                combined experience in construction takeoff services. Working with
                QTO Estimating means that your project is in the safe hands of
                experienced estimators who will accurately take off the materials
                for your project. Our estimators have on-site experience,
                extensive construction knowledge, and they adhere to the best
                estimation practices outlined by renowned associations. We
                strictly follow the guidelines provided by organizations such as
                ASPE, PMI, and CSI, and we keep our estimators updated with the
                latest technology and tools in the industry.
            </p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 WCUS">
            <ul>
                <li>
                    <div class="imghead">
                        <img class="WCUSimg" src="./images/Engineer.png" alt="">
                        <h2>Experienced Professionals:</h2>
                    </div>
                    <p>
                        Our estimators have 20+ years of experience in the
                        construction industry and we are trained to provide accurate
                        and efficient take-off services for any project.
                    </p>
                </li>
                <li>
                    <div class="imghead">
                        <img class="WCUSimg" src="./images/Project Management.png" alt="">
                        <h2>Comprehensive and Detailed Solution:</h2>
                    </div>
                    <p>
                        We understand that each project is unique, and we work closely
                        with our clients to understand their requirements and come up
                        with a customized QTO solutions that meets the need of our
                        client.
                    </p>
                </li>
                <li>
                    <div class="imghead">
                        <img class="WCUSimg" src="./images/Engineering.png" alt="">
                        <h2>State-of-the-art technology:</h2>
                    </div>
                    <p>
                        We use the latest software and technology to quickly do the
                        measurements and quantification of materials, which allows us
                        to deliver results with greater speed and accuracy than manual
                        estimation methods.
                    </p>
                </li>
                <li>
                    <div class="imghead">
                        <img class="WCUSimg" src="./images/Cost.png" alt="">
                        <h2>Cost-effective pricing:</h2>
                    </div>
                    <p>
                        Our estimators have 20+ years of experience in the
                        construction industry and we are trained to provide accurate
                        and efficient take-off services for any project.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>